<% if signed_in? %>
  <div class="row-fluid">
  	<div class = "span10 offset1">

  		<div class="row-fluid">
  			<div class="span12 center">
  				<button type="button" class="btn btn-warning" data-toggle="button">CPT Crunch (CO) </button>
  			</div>
  			<div class="span6 offset3 center well" id = "me_well">
  				<p style="font-size: 1.2em;">You </p><p>(1SG Gwenevere)</p>
  			</div>
  			<div class="span12 center">
  				<div class="btn-group" data-toggle="buttons-checkbox">
				  <button type="button" class="btn btn-success">1PLT-Barnes</button>
				  <button type="button" class="btn btn-success">2PLT-Elias</button>
				  <button type="button" class="btn btn-success">3PLT-Dawes</button>
				  
				</div>
  			</div>
  			<div class="span12 center" style="margin: 5px;">
  				Templates: <select id="templatez">

  					<option value = "f"> Formation </option>
  					<option value = "r"> Report to my office </option>

  					<option value = "d"> Disregard last comm </option>
  				</select>
  			</div>

  		</div>



    <%= form_for(@message) do |f| %>
  <%= render 'shared/error_messages', object: @message %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new message...", :cols => "40", :rows => "4", :id => "msgtext" %>
  </div>
  <%= f.submit "Send", class: "btn btn-primary" %>
</div>

<script type="text/javascript">
$(document).ready( function(){
	$('#templatez').change(function(){
		if ($('#templatez :selected').val() == "f"){ 
				$('#msgtext').val('Formation @ the drill pad at the following time: ');
		};
	});




});
</script>
<% end %>
      
    
  </div>  
<% else %>

<div class="center jumbotron">
  <h1>Bugl is Calling!</h1>

  <h2>
    You can feel free to put a great tagline here!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div class="center well">

	<%= link_to "Create an Account", "#", class: "btn btn-large btn-primary" %> <br>
	<%= link_to "Forgot Your Username or Password?", "#", class: "btn btn-large btn-primary" %>

	</div>
	<% end %>