<p id="notice"><%= notice %></p>
<div class="row-fluid"><div class="span10 offset1">
  <table class = "table table-striped table-bordered">
<tr>
  <td>Name:</td> <td>
  <%= @user.name %></td>
</tr>

<tr>
  <td>Email:</td> <td>
  <%= @user.email %></td>
</tr>

<tr>
  <td>Phone:</td><td>
  <%= @user.phone %></td>
</tr>

<tr>
  <td>Org:</td><td>
  <%= @user.org_id %></td>
</tr>

<tr>
  <td>Position:</td><td>
  <%= @user.position_id %></td>
</tr>
</table>
</div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
